
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>音频目录</cite></a>
		<a><cite>音频章节</cite></a>
	</div>
</div>

<div class="layui-fluid">
	
	<div class="layui-card">

		<div class="layui-card-body">
			
			<!--添加章节-->
			<div style="padding-bottom: 10px;">
				<button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加章节</button>
			</div>

			<!--数据表格-->
			<table id="LAY-edit-manage" lay-filter="LAY-edit-manage"></table>
			
			<!--音频播放器-->
			<script type="text/html" id="audioPath">
			    <audio controls="controls" style="width: 300px;height: 30px;" src="{{layui.setter.urll+d.audioPath}}"></audio>
			</script>
			
			<!--音频图片-->
			<script type="text/html" id="audioImage">
				<img class="img" style="display: inline-block; width: 30px; height: 30px;" src={{layui.setter.urll+d.image}}>
			</script>
			
			<!--是否付费-->
			<script type="text/html" id="isPay">
				{{#  if(d.ifPay===1){ }}
			    	<input type="checkbox" checked="" name="open"  switch_id="{{d.id}}" lay-skin="switch" lay-filter="switchPay" lay-text="是|否">
			    {{#  } else { }}
			    	<input type="checkbox" name="close"  switch_id="{{d.id}}" lay-skin="switch" lay-filter="switchPay" lay-text="是|否">
			    {{#  } }}
			</script>
			
			<!--编辑、删除-->
			<script type="text/html" id="table-edit-operation">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
			</script>
			
		</div>
		
	</div>
	
</div>

<script>
	layui.use('radioStation', layui.factory('radioStation')).use(['admin', 'useradmin', 'table', 'laydate', 'form'], function() {
		var $ = layui.$,
			admin = layui.admin,
			view = layui.view,
			table = layui.table,
			laydate = layui.laydate,
			form = layui.form;
			form.render();
		 
		var cookie = location.href;
		    function getCookie(name) {
		        var reg = new RegExp(name + "=([^g]*)(;|$)", "i");
		        var r = cookie.match(reg);
		        if (r != null) {
		            return r[1];
		        }
		        return null;
		    }
		    var id = getCookie('id');
		    console.log(id);/*点击编辑音频的时候传递的值:目录的id*/
		
		/*点击查看大图*/
        $('body').on('click','.img', function(){
            layer.open({
                type: 1,
                title: false,
                closeBtn: 0,
                area: 'auto',
                maxHeight: 700,
                maxWidth : 700,
                skin: 'layui-layer-nobg', //没有背景色
                shadeClose: true,
                content: '<img style="max-width: 600px;max-height: 600px;" src="'+$(this).attr('src')+'"/>'
            });
        });
        
		//事件
		var active = {
			add: function() {
				admin.popup({
					title: '添加章节',
					area: ['550px', '500px'],
					id: 'LAY-popup-user-add',
					success: function(layero, index) {
						view(this.id).render('radioStationAudio/addAudio').done(function() {
							form.render();
							//监听提交
							form.on('submit(LAY-audio-front-submit)', function(data) {
								var field = data.field;
								console.log(field);
								$.ajax({
					              	url:layui.setter.urll+'/api/admin/audio/add'
					                ,method:"post"
					              	,contentType:'application/json;charset=UTF-8'
					              	,data: JSON.stringify({
					              		 'token': layui.data('data').token
				              			,'ifPay':field.isPopular			/*是否付费*/
				              			,'dirId':id							/*给哪个目录下添加音频*/
				              			,'audioPath':field.audioPath		/*音频路径*/
				              			,'lrcPath':field.lrc				/*音歌词路径*/
				              			,'image':field.photo				/*图片路径*/
				              			,'title':field.title				/*音频标题*/
				              			,'introduce':field.introduce 		/*音频简介*/
				              			,'audioTime':field.audioLength		/*音频时间*/
					              	}),
					                  success:function(data){
					                  	if(data.data==1){
					                  		layer.alert('已添加',{icon:1});
						                    layui.table.reload('LAY-edit-manage');
					                  	}else{
					                  		layer.alert('添加失败，请稍后重试',{icon:2});
					                  	}
					                  },
					                  error:function(data){
					                      layer.alert('添加失败，请稍后重试',{icon:2});
					                  }
					              });
								layer.close(index); //执行关闭 
							});
						});
					}
				});
			}
		};

		$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
</script>