

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
	
  <!--id-->
  <div class="layui-form-item">
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="hidden" name="id" value="{{d.params.id}}"  autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  
  <!--目录标题-->
  <div class="layui-form-item">
    <label class="layui-form-label">目录标题</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="catalogTitle" value="{{d.params.title}}" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  
  <!--目录介绍-->
  <div class="layui-form-item">
    <label class="layui-form-label">目录介绍</label>
    <div class="layui-input-inline">
      <script type="text/html" template> 
      	<input type="hidden" id="classId" value="{{d.params.classId}}" />
        <!--<input type="text" name="catalogIntroduce"  value="{{d.params.introduce}}" autocomplete="off" class="layui-input">-->
        <textarea name="catalogIntroduce" style="resize:none;width: 280px;height: 100px;" autocomplete="off" class="layui-input">
        	{{d.params.introduce}}
        </textarea>
      </script>
    </div>
  </div>
  
 	<!--目录分类-->
    <div class="layui-inline" style="width: 250px;">
      <label class="layui-form-label">目录分类</label>
      <div class="layui-input-block">
        <select name="catalogType" id="cataType" lay-verify="required">
        </select>
      </div>
    </div>
        
    <!--目录标签-->
    <br />
    <div class="layui-form-item layui-form" lay-filter="component-form-element" style="margin-top: 10px;">
        <label class="layui-form-label">目录标签</label>
        <div class="layui-input-inline">
            <script type="text/html" template lay-done="layui.data.groups(d);">
                <div id="auth"></div>
            </script>
        </div>
    </div>
    	
  <!--目录图片-->
  <div class="layui-form-item">
    <label class="layui-form-label">图片</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <img class="img" id="demo1" style="display: inline-block; width: 30px; height: 30px;" src={{layui.setter.urll+"/"+d.params.imagePath}}>
        <input type="hidden" name="demo2" id="demo2" value="{{d.params.imagePath}}"/>
      </script>
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</span>
      <button type="button" class="layui-btn" id="upPhoto" >编辑图片</button>
    </div>
  </div>
  
	<!--价格-->
	  <div class="layui-form-item">
	    <label class="layui-form-label">价格</label>
	    <div class="layui-input-inline">
	      <script type="text/html" template>
	        <input type="text" name="price" placeholder="请输入" value="{{d.params.price}}" lay-verify="required" autocomplete="off" class="layui-input">
	      </script>
	    </div>
	  </div>
	
	<!--是否上架-->
  	<div class="layui-form-item">
    	<label class="layui-form-label">是否上架</label>
    	<div class="layui-input-block">
	      	<script type="text/html" template>
		        <input type="radio"  name="isUpperShelf" {{ d.params.ifRel === 1 ? 'checked' : '' }} value="1" title="是">
				<input type="radio"  name="isUpperShelf" {{ d.params.ifRel === 0 ? 'checked' : '' }} value="0" title="否">
	      	</script>
    	</div>
  	</div>
  	
	  <!--确认-->
	  <div class="layui-form-item">
	    <label class="layui-form-label"></label>
	    <div class="layui-input-inline">
	      <input type="button" lay-submit lay-filter="LAY-audio-front-submit" value="确认" class="layui-btn">
	    </div>
	  </div>
</div>


<script>
    layui.use(['admin', 'form', 'upload', 'jquery','layer'], function () {
        var $ = layui.$
        ,upload = layui.upload
        ,jquery = layui.jquery
        , form = layui.form;
        /*加载目录分类下拉框*/
        $.ajax({
		    url:layui.setter.urll+"/api/admin/class/audio/all"
		    ,method:"get"
		    ,data:{
            	'token': layui.data('data').token
            }
		    ,success:function(result){
		        var list = result["data"];    //返回的数据
		        var server = document.getElementById("cataType");
		        for(var p in list){
		            var option = document.createElement("option");
		            option.setAttribute("value",list[p].id);
		            option.innerText=list[p].className;
		            server.appendChild(option);
		            form.render("select");
				}
		        var classId = 'dd[lay-value=' + $('#classId').val() + ']';
		        $("#cataType").next().find('dl').find(classId).click();
		        form.render('select');
		    } 
		})
        
        /*限制目录标签选择数量*/
        form.on('checkbox(hope)',function(data){
		    console.debug(data);
		    var len=$(".education:checked").length;
		    if(len>4){
		        $(data.elem).next().attr("class","layui-unselect layui-form-checkbox");
		        $(data.elem).prop("checked",false);
		        layer.msg('最多只能选4项！',{icon:5});
		        return false;
		    }
		});

	  	/*点击查看大图*/
		$('body').on('click','.img', function(){
		    layer.open({
		        type: 1,
		        title: false,
		        closeBtn: 0,
		        area: 'auto',
		        maxHeight: 600,
		        maxWidth : 600,
		        skin: 'layui-layer-nobg', //没有背景色
		        shadeClose: true,
		        content: '<img style="max-width: 600px;max-height: 600px;" src="'+$(this).attr('src')+'"/>'
		    });
		    e.stopPropagation();
		});
        
        /*编辑图片按钮*/
        var uploadInst = upload.render({
		    elem: '#upPhoto'
		    ,url: layui.setter.urll + '/api/upload/image'
		    ,before: function(obj){
		      obj.preview(function(index, file, result){
		        $('#demo1').attr('src', result);
		      });
		    }
		    ,done: function(data){
		      $('#demo2').val(data.data);
		    }
		    ,error: function(){
		    	layer.msg('操作失败');
		    }
		});
        
    })

	/*目录标签选中默认*/
    layui.data.groups = function (d) {
    	layui.use(['admin', 'form', 'jquery','layer'], function () {
        var $ = layui.$
        ,jquery = layui.jquery
        , form = layui.form;
	        (function () {
	            $.ajax({
	                url: layui.setter.urll + '/api/admin/tag/audio/all',
	                type: 'get',
	                data:{
	                	'token': layui.data('data').token
	                },
	                success: function (data) {
	                    for (var i = 0; i < data.data.length; i++) {
	                        var a = '<input type="checkbox" class="education" lay-filter="hope" id="' + data.data[i].id + '" value="' + data.data[i].id + '" name="checkbox" title="' + data.data[i].content + '" data-pid="' + data.data[i].id + '">';
	                        $('#auth').append(a);
	                        form.render();
	                    }
	                    var cont = d.params.tagList;
	                    for (var i = 0; i < cont.length; i++) {
	                        $('input[value=' + cont[i].id + ']').next().click();
	                    }
	                }
	            });
	        })();
        })
    };
</script>

