

<div class="layui-form" lay-filter="layuiadmin-form-useradmin" style="padding: 20px 0 0 0;">
	
  <!--id-->
  <div class="layui-form-item">
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="hidden" name="id" id="id" value="{{ d.params.id || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
        <input type="hidden" id="level" value="{{d.params.level}}" />
      </script>
    </div>
  </div>
  
  <!--分类名称-->
  <div class="layui-form-item">
    <label class="layui-form-label">分类名称</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="name" value="{{ d.params.title || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  
  <!--排序-->
  <div class="layui-form-item">
    <label class="layui-form-label">排序</label>
    <div class="layui-input-inline">
      <script type="text/html" template>
        <input type="text" name="sort" value="{{ d.params.sort || '' }}" lay-verify="required" placeholder="请输入" autocomplete="off" class="layui-input">
      </script>
    </div>
  </div>
  
  <!--确认-->
  <div class="layui-form-item">
    <label class="layui-form-label"></label>
    <div class="layui-input-inline">
      <input type="button" id="confirm" lay-submit lay-filter="LAY-radio-front-submit" value="确认" class="layui-btn">
    </div>
  </div>
  
</div>

<script>
    layui.use(['form','jquery'], function () {
        var form = layui.form
            , $ = layui.$;
        var  list = [];
        setTimeout(function () {
        	var id = $('#id').val();
        	var level = $('#level').val();/*分类等级的id*/
        	$.ajax({
	            url: layui.setter.urll + '/api/admin/class/radio/sort/'+level,
	            dataType: 'JSON',
	            crossurll: true,
	            type: 'get',
	            data:{
	                'token': layui.data('data').token
	                ,'id':id			/*当前分类的id*/
	            },
	            success: function (data) {
	                if (data.code == 403) {
	                    layer.closeAll();
	                    admin.exit();
	                    setTimeout(function () {
	                        layer.alert('此账号已在别处登录,请重新登录！', { icon: 5 });
	                    }, 666);
	                }
	                list = data.data;
	            }
	        });
        }, 666);
        
        $('#confirm').click(function () {
            var result = $(":input[name='sort']").val();
            for (var i = 0; i < list.length; i++) {
                if (result == list[i]) {
                    layer.msg('排序已存在，请重新输入');
                    $(":input[name='sort']").focus();
                    return false;
                }
            }
        });
        
    });    
</script>