
<div class="layui-card layadmin-header">
	<div class="layui-breadcrumb" lay-filter="breadcrumb">
		<a lay-href="">主页</a>
		<a><cite>标签管理</cite></a>
		<a><cite>标签列表</cite></a>
	</div>
</div>

<div class="layui-fluid">
	
	<div class="layui-card">
		
		<div class="layui-form layui-card-header layuiadmin-card-header-auto" lay-filter="layadmin-userfront-formlist">
			
			<div class="layui-form-item">

				<!--标签名称-->
				<div class="layui-inline">
					<label class="layui-form-label">标签名称</label>
					<div class="layui-input-block">
						<input type="text" name="name" placeholder="请输入" autocomplete="off" class="layui-input">
					</div>
				</div>

				<!--标签类型-->
				<div class="layui-inline">
					<label class="layui-form-label">标签类型</label>
					<div class="layui-input-block" style="width: 186px;">
						<select name="status">
							<option value="">不限</option>
							<option value="3">动态</option>
							<option value="1">音频</option>
						</select>
					</div>
				</div>

				<!--搜索按钮-->
				<div class="layui-inline">
					<button class="layui-btn layuiadmin-btn-useradmin" lay-submit lay-filter="LAY-label-front-search">
			            <i class="layui-icon layui-icon-search layuiadmin-button-btn"></i>
			        </button>
				</div>
				
			</div>
		</div>

		<div class="layui-card-body">
			
			<!--添加标签-->
			<div style="padding-bottom: 10px;">
				<button class="layui-btn layuiadmin-btn-useradmin" data-type="add">添加标签</button>
			</div>

			<!--数据表格-->
			<table id="LAY-label-manage" lay-filter="LAY-label-manage"></table>
			
			
			<!--编辑、删除-->
			<script type="text/html" id="table-label-operation">
				<a class="layui-btn layui-btn-normal layui-btn-xs" lay-event="edit"><i class="layui-icon layui-icon-edit"></i>编辑</a>
				<a class="layui-btn layui-btn-danger layui-btn-xs" lay-event="del"><i class="layui-icon layui-icon-delete"></i>删除</a>
			</script>
			
			<!--动态、音频-->
			<script type="text/html" id="labelType">
				{{#  if(d.flag===3){ }}
			    	<button class="layui-btn layui-btn-xs">动态</button>
			    {{#  } else if(d.flag===1){ }}
			    	<button class="layui-btn layui-btn-normal layui-btn-xs">音频</a>
			    {{#  } else { }}
			    	暂无
			    {{#  } }}
			</script>
			
		</div>
		
	</div>
	
</div>

<script>
	layui.use('label', layui.factory('label')).use(['admin', 'useradmin', 'table', 'laydate', 'form'], function() {
		var $ = layui.$,
			admin = layui.admin,
			view = layui.view,
			table = layui.table,
			laydate = layui.laydate,
			form = layui.form;
			form.render();
		
		/*监听搜索*/
		form.on('submit(LAY-label-front-search)', function(data) {
			var field = data.field;
			console.log(field);
			table.reload('LAY-label-manage', {
				url: layui.setter.urll + '/api/admin/tag/search',
				method: 'get',
				where: {
					 token: layui.data('data').token
	                ,uid : layui.setter.uid
					,title: field.name.replace(/\s*/g,"")	  		/*标签名称*/
					,flag: field.status								/*标签类型*/
				},
				page: true
			});
		});

		//事件
		var active = {
			add: function() {
				admin.popup({
					title: '添加标签',
					area: ['500px', '300px'],
					id: 'LAY-popup-user-add',
					success: function(layero, index) {
						view(this.id).render('label/addLabel').done(function() {
							form.render();
							//监听提交
							form.on('submit(LAY-label-front-submit)', function(data) {
								var field = data.field;
								console.log(field);
								$.ajax({
					              	url:layui.setter.urll+"/api/admin/tag/add"
					                ,method:"post"
					              	,contentType:'application/json;charset=UTF-8'
					              	,data: JSON.stringify({
					              		 'token': layui.data('data').token					              		,'labelName':field.labelName/*标签名称*/
					              		,'tmp':field.labelName
					              		,'flag':field.status
					              	}),
					                success:function(data){
					                	if(data.data==1){
							                layer.alert('已添加',{icon:1});
							                layui.table.reload('LAY-label-manage'); //重载表格
						                }else{
						                	layer.alert('添加失败，请稍后重试',{icon:2});
						                }
					                },
					                error:function(data){
					                    layer.alert('添加失败，请稍后重试',{icon:2});
					                }
					              });
								layer.close(index); //执行关闭 
							});
						});
					}
				});
			}
		};

		$('.layui-btn.layuiadmin-btn-useradmin').on('click', function() {
			var type = $(this).data('type');
			active[type] ? active[type].call(this) : '';
		});
	});
</script>